<html>
<!--Взята с доктор мустачи-->
<head>
  <link href="ourdoctors.component.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <meta charset="UTF-8"/>


  <!--  <script src=" src/app/doctor.spec.ts"></script>-->
</head>

<header>
  <div class="container-fluid">

    <div class="row">

      <div class=" col-1">
        <a class="navbar-brand">Логотип
        </a>
      </div>

      <div class="col-2">
        <li class="nav-item">
          <a aria-current="page" class="nav-link active" href="#">На главную</a>
        </li>
      </div>

      <div class="col-2">

        <li class="nav-item">
          <a aria-current="page" class="nav-link active" href="/doctorlist">Список врачей</a>
        </li>

      </div>
      <div class="col-2">
        <!--        <li class="nav-item">-->
        <!--          <a class="nav-link active" aria-current="page" href="#">Список врачей</a>-->
        <!--        </li>-->
      </div>

      <div class="col-2">

      </div>

      <div class="col-3">

        <div class="row justify-content-center">

          <div class="col-2">
            <p><img
              alt=""
              class="round" src="https://img.alicdn.com/imgextra/i4/2945684373/TB25N38bLAPyuJjy0FcXXbCzpXa_!!2945684373.jpg">
            </p>
          </div>
          <div class="col-5">

            <a>
              <p>
                Гамина П.
              </p>
            </a>

          </div>
          <div class="col-2">

            <button class="btn btn-secondary editUser" type="button">
              <svg class="bi bi-pencil" fill="currentColor" height="16" viewBox="0 0 16 16" width="16"
                   xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
              </svg>
            </button>

          </div>
          <div class="col-3"></div>
        </div>

      </div>


    </div>

  </div>
</header>

<body>

<div class="form_wapper">


</div>

<div class="row">
  <div class="col-4">

  </div>
  <div class="col-2" style="text-align: center;">Наши врачи

  </div>
  <div class="col-2">
    <!--    <button type="submit" class="btn btn-success" routerLink="/add"> Добавить</button>-->
  </div>
  <div class="col-4">

  </div>
</div>

<!--</div>-->
<!--<div style="text-align: center;">Список врачей-->
<!--  <button type="submit" class="btn btn-success" routerLink="/add"> Добавить</button>-->
<!--</div>-->

<div style="text-align: center;">

  <table class="table table-striped ">
    <thead>
    <tr>
      <!--      <th class="hidden">Id</th>-->

      <th>Имя</th>
      <th>Фамилия</th>
      <th>Рейтинг</th>
      <!--      <th>Ср. Рейтинг</th>-->
      <!--      <th> Действия</th>-->
      <!--      <th>room</th>-->
      <!--      <th>specialist</th>-->
    </tr>
    </thead>
    <tbody>
    <!--    *ngFor="let user of users "-->
    <!--ng-repeat= "user in users | orderBy:'-id'-->
    <tr *ngFor="let user of ourusers|orderBy:'id'">
      <!--      <td class="hidden">{{user.id}}</td>-->
      <!--      |orderBy:'id'"-->

      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.rating | number:'1.1-2'}}
        <span *ng-show="user.rating">{{user.rating}}>

        </span>
        <span *ngIf="!user.rating">0.0

        </span>
      </td>

      <!--      <td>{{user.role}}</td>-->
      <td>
        <button (click)="ourDoctorsDetails(user.id)" class="btn btn-primary"> Добавить отзыв
        </button>
      </td>
      <td>
        <button (click)="doctorInfo(user.id)" class="btn btn-primary"> Посмотреть профиль
        </button>

      </td>


    </tr>
    </tbody>
  </table>


</div>


</body>
</html>

















