.nav-item {

  text-decoration: none;
  list-style-type: none;

}

a.navbar-brand {
  /*color: black;*/
  padding: 0px 110px 0px 10px;
  border-radius: 8px;
  background: #2E72E4;
  color: white;
}

a.nav-link {
  margin: 0px auto 0px auto;
  padding: 0px 10px 0px 10px;
  border-radius: 8px;

  color: white;
}

a.navbar-brand:hover {
  padding: 0px 110px 0px 10px;
  border-radius: 8px;
  background: #2E72E4;
  color: white;
}

a.nav-link:hover {
  /*background: #00DFFF;*/
  background: #5C8BDA;
  color: white;
}

.form_wapper {
  /*box-shadow: 0 0 16px 4px #00000047;*/
  /*max-width: 243px;*/
  margin: 0 auto;
  padding: 59px 25px 28px;
}

.form_wapper input {
  width: 100%;
}

.form_wapper button {
  width: 100%;
  border: none;
  margin: 0;
}

.container-fluid {
  background-color: #2E72E4;

}

.round {
  height: 36px;
  width: 36px;
  border-radius: 100px; /* Радиус скругления */


}

table {
  width: 600px;
  border: 2px;
  display: inline-block;
}
