<html>

<head>
  <link href="./update-doctor.component.css" rel="stylesheet" type="text/css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"-->
  <!--        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">-->
  <!--  <meta charset="UTF-8"/>-->

  <!--  <link rel="stylesheet" media="screen" href="/sps/assets/blitz-common/stylesheets/idp.min.css">-->

  <!--  <link rel="stylesheet" media="screen"-->
  <!--        href="/sps/assets/blitz-common/theme/assets/skin/default_skin/css/theme.min.css">-->
  <meta charset="UTF-8"/>
</head>
<style>


</style>
<header>

</header>

<body>


<div class="col-md-6">
  <h2 class="text-center">Редактирование доктора</h2>
  <form (ngSubmit)="onSubmit() " [formGroup]="updatedoctorform">
    <!--    [formGroup]="updatedoctorform" *ngFor="let user of user " (ngSubmit)="onSubmit(user) "-->


    <div class="form-group">
      <label for="id">Id:</label>
      <input [(ngModel)]="user.id" [formControlName]="'id'" class="form-control" id="id" readonly required
             value={{user.id}}>
    </div>
    <!--    [formControlName]="id"-->
    <div class="form-group">
      <label for="firstname">Имя:</label>
      <input [(ngModel)]="user.firstname" [formControlName]="'firstname'" class="form-control" id="firstname"
             name="dateOfEmployment" required value="{{user.firstname}}">
    </div>

    <div class="form-group">
      <label for="lastname">Фамилия:</label>
      <input [(ngModel)]="user.lastname" [formControlName]="'lastname'" class="form-control" id="lastname"
             name="dateOfEmployment" required value="{{user.lastname}}">
    </div>

    <div class="form-group">
      <label for="dateOfEmployment">Дата трудоустройства:</label>
      <input [(ngModel)]="user.dateOfEmployment" [formControlName]="'dateOfEmployment'" class="form-control" id="dateOfEmployment"
             name="dateOfEmployment" readonly required value="{{user.dateOfEmployment}}">
    </div>

    <div class="form-group">
      <label for="education">Образование</label>
      <input [(ngModel)]="user.education" [formControlName]="'education'" class="form-control" id="education" name="education"
             required value="{{user.education}}">
      <!--      value="{{user.education}}"-->
    </div>

    <div class="form-group">
      <label for="room">Кабинет:</label>
      <input [(ngModel)]="user.room.num" [formControlName]="'room'" class="form-control" id="room" name="room" required
             type="number" value="{{user.room.num}}">
      <!--      value="{{user.room.num}}"-->
    </div>

    <div class="form-group">
      <label for="education">Специальность:</label>
      <input [(ngModel)]="user.specialist[0].specialization" [formControlName]="'specialist'" class="form-control" id="specialist"
             name="specialist" required
             value="{{user.specialist[0].specialization}}">
      <!--      value="{{user.specialist[0].specialization}}"-->
    </div>

    <button class="btn btn-primary" type="submit">Редактировать</button>
    <!--    (click)="onSubmit()"-->
  </form>
</div>

</body>
</html>














