.specializationForm
{
    width: 250px;
    margin: 0px 5px 0px;
    /*background-color: aqua;*/
}

.doctorsMultiselectForm
{
    width: 250px;
    margin: 0px 5px 0px;
    /*background-color: bisque;*/
}