<html>
<!--Взята с доктор мустачи-->
<head>
  <link href="ourdoctorsdetails.component.css" rel="stylesheet" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <meta charset="UTF-8"/>


  <!--  <script src=" src/app/doctor.spec.ts"></script>-->
</head>

<header>
</header>

<body>

<div class="col-md-6">
  <!--  [formGroup]="" (ngSubmit)="addRating()"-->
  <h2 class="text-center">Добавление отзыва доктору</h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="updateRatingForm">


    <div class="form-group">
      <label>Врач: </label>
      <input [(ngModel)]="doctorRating.doctorId" [formControlName]="'doctorId'" class="form-control" readonly
             type="number">

      <!--      placeholder={{name}}-->

    </div>


    <div class="form-group">
      <label for="rating">Количество звезд</label>
      <input [(ngModel)]="doctorRating.rating" [formControlName]="'rating'" class="form-control" id="rating" placeholder="5"
             type="number">
    </div>

    <div class="form-group">
      <label for="feedback">Отзыв:</label>
      <input [(ngModel)]="doctorRating.feedback" [formControlName]="'feedback'" class="form-control" id="feedback"
             name="feedback" placeholder="Напишите свои впечатления ">
    </div>

    <!--    createUser()-->
    <button class="btn btn-success">Добавить</button>
  </form>
</div>


</body>
</html>

















