<html>

<head>
  <link rel="stylesheet" href="./update-doctor.component.css" type="text/css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"-->
  <!--        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">-->
  <!--  <meta charset="UTF-8"/>-->

  <!--  <link rel="stylesheet" media="screen" href="/sps/assets/blitz-common/stylesheets/idp.min.css">-->

  <!--  <link rel="stylesheet" media="screen"-->
  <!--        href="/sps/assets/blitz-common/theme/assets/skin/default_skin/css/theme.min.css">-->
  <meta charset="UTF-8"/>
</head>
<style>


</style>
<header>
  <div class="container-fluid">

    <div class="row">

      <div class=" col-1">
        <a class="navbar-brand">Логотип
        </a>
      </div>

      <div class="col-2">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">На главную</a>
        </li>
      </div>

      <div class="col-2">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Загрузить документ</a>
        </li>

      </div>
      <div class="col-2">

      </div>

      <div class="col-2">

      </div>

      <div class="col-3">

        <div class="row justify-content-center">

          <div class="col-2">
            <p>
              <img
                src="https://catherineasquithgallery.com/uploads/posts/2021-03/1614780471_5-p-putin-na-fone-flaga-5.jpg"
                alt="" class="round">
            </p>
          </div>
          <div class="col-5">

            <a>
              <p>
                Гамина П.
              </p>
            </a>

          </div>
          <div class="col-2">

            <button type="button" class="btn btn-secondary editUser">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-pencil"
                   viewBox="0 0 16 16">
                <path
                  d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"></path>
              </svg>
            </button>

          </div>
          <div class="col-3"></div>
        </div>

      </div>


    </div>

  </div>
</header>

<body>


<div class="col-md-6">
  <h2 class="text-center">Редактирование доктора</h2>
  <form (ngSubmit)="onSubmit() ">
    <div class="form-group">
      <label for="email">Email address:</label>
      <input type="email"  placeholder="Id" name="id" class="form-control" id="id" required [(ngModel)]="user.id">
    </div>

    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input  placeholder="First Name" name="firstName" class="form-control" id="firstName" required [(ngModel)]="user.firstName">
    </div>

    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input  placeholder="Last name" name="lastName" class="form-control" id="lastName" required [(ngModel)]="user.lastName">
    </div>

    <div class="form-group">
      <label for="lastName">Email:</label>
      <input  placeholder="Email" name="Email" class="form-control" id="Email" required [(ngModel)]="user.email">
    </div>

    <button class="btn btn-success" type ="submit" >Редактировать</button>
<!--    (click)="onSubmit()"-->
  </form>
</div>

</body>
</html>














