<div class="col-md-8 offset-md-2">
  <h3> Create Appointment Registration </h3>
  <form (ngSubmit)="onSubmit()" >

    <div class = "form-group">
      <label> Doctor's Last Name </label>
      <input type="text" class="form-control" id = "lastNameDoc"
             [(ngModel)]="appointmentRegistration.doctor.lastName" name = "lastNameDoc">
    </div>

    <div class = "form-group">
      <label> Patient's Last Name </label>
      <input type="text" class="form-control" id = "lastNamePat"
             [(ngModel)]="appointmentRegistration.patient.lastName" name = "lastNamePat">
    </div>

    <div class = "form-group">
      <label> Appointment's Start Date Time </label>
      <input type="datetime-local" class="form-control" id = "start"
             [(ngModel)]="appointmentRegistration.start" name = "start">
    </div>

    <div class = "form-group">
      <label> Appointment's End Date Time </label>
      <input type="datetime-local" class="form-control" id = "end"
             [(ngModel)]="appointmentRegistration.end" name = "end">
    </div>

    <div class = "form-group">
      <label> Appointment's Address </label>
      <input type="text" class="form-control" id = "address"
             [(ngModel)]="appointmentRegistration.address" name = "address">
    </div>

    <div class = "form-group">
      <label> Appointment's Room </label>
      <input type="text" class="form-control" id = "room"
             [(ngModel)]="appointmentRegistration.room" name = "room">
    </div>

    <button class = "btn btn-success" type = "submit"> Submits </button>

  </form>
</div>

