<h3> View Appointment Details </h3>
<div>
  <div>
    <label> <b> Doctor's Last Name: </b>  </label> {{appointment.appointmentRegistration.doctor.lastName}}
  </div>
  <div>
    <label> <b> Patient's Last Name: </b>  </label> {{appointment.appointmentRegistration.patient.lastName}}
  </div>
  <div>
    <label> <b> Start Date Time: </b>  </label> {{appointment.appointmentRegistration.start}}
  </div>
  <div>
    <label> <b> End Date Time: </b>  </label> {{appointment.appointmentRegistration.end}}
  </div>
  <div>
    <label> <b> Address: </b>  </label> {{appointment.appointmentRegistration.address}}
  </div>
  <div>
    <label> <b> Room: </b>  </label> {{appointment.appointmentRegistration.room}}
  </div>
  <div>
    <label> <b> Description: </b>  </label> {{appointment.description}}
  </div>
  <div>
    <label> <b> Doctor's Statement: </b>  </label> {{appointment.docStatement}}
  </div>
  <div>
    <label> <b> Recipe: </b>  </label> {{appointment.recipe}}
  </div>
  <div>
    <label> <b> Service: </b>  </label> {{appointment.service}}
  </div>
  <div>
    <label> <b> Rehabilitation Plan: </b>  </label> {{appointment.rehabPlan}}
  </div>
  <div>
    <label> <b> Treatment Plan: </b>  </label> {{appointment.treatPlan}}
  </div>
</div>
