<h2> Детали приема </h2>
<div>
  <div>
    <label> <b> Фамилия доктора: </b>  </label> {{appointment.appointmentRegistration.doctor.user.lastName}}
  </div>
  <div>
    <label> <b> Фамилия пациента: </b>  </label> {{appointment.appointmentRegistration.patient.user.lastName}}
  </div>
  <div>
    <label> <b> Дата и время начала приема: </b>  </label> {{datePipe.transform(appointment.appointmentRegistration.start, "yyyy/MM/dd HH:mm")}}
  </div>
<!--  <div>-->
<!--    <label> <b> Дата и время конца приема: </b>  </label> {{appointment.appointmentRegistration.end}}-->
<!--  </div>-->
  <div>
    <label> <b> Специализация доктора: </b>  </label> {{appointment.appointmentRegistration.doctor.education}}
  </div>
  <div>
    <label> <b> Адрес: </b>  </label> {{appointment.appointmentRegistration.address}}
  </div>
  <div>
    <label> <b> Кабинет: </b>  </label> {{appointment.appointmentRegistration.room}}
  </div>
  <div>
    <label> <b> Описание: </b>  </label> {{appointment.description}}
  </div>
  <div>
    <label> <b> Заключение врача: </b>  </label> {{appointment.docStatement}}
  </div>
  <div>
    <label> <b> Рецепт: </b>  </label> {{appointment.recipe}}
  </div>
  <div>
    <label> <b> Услуга: </b>  </label> {{appointment.appointmentRegistration.service}}
  </div>
  <div>
    <label> <b> План реабилитации: </b>  </label> {{appointment.rehabPlan}}
  </div>
  <div>
    <label> <b> План лечения: </b>  </label> {{appointment.treatPlan}}
  </div>

<!--  <div>-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th> Файл </th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--      <tr *ngFor = "let file of files">-->
<!--        <td> {{file.toString()}} </td>-->
<!--      </tr>-->
<!--    </tbody>-->
<!--  </div>-->

  <div>
    <br>
  </div>

  <div>

    <button (click)="goToFileViewer(this.id)" mat-raised-button color="primary"> Просмотреть файлы </button>

  </div>

  <div>
    <br>
  </div>

  <div>

    <button (click)="printRecipe(this.id)" mat-raised-button color="primary"> Напечатать рецепт </button>

  </div>

</div>
