<div  *ngIf="!showAdminBoard">
  <meta http-equiv="refresh" content="1; url=http://localhost:4200">
</div>
  <p-table #dt [value]="employees" [(selection)]="selectedEmployees" dataKey="id" styleClass="p-datatable-employees" [rowHover]="true"
           [rows]="15" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
           [paginator]="true" currentPageReportTemplate="C {first} по {last} из {totalRecords}"
           [filterDelay]="1" [globalFilterFields]="['username','firstName','lastName', 'patronymic', 'email','phone']" *ngIf="showAdminBoard">
    <ng-template pTemplate="caption">
      <div class="table-header">
        База данных
        <span class="p-input-icon-left">
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Поиск" />
                    </span>

      </div>
    </ng-template>
    <ng-template pTemplate="header">
  <tr>
    <th pSortableColumn="username">Логин <p-sortIcon field="username"></p-sortIcon></th>
    <th pSortableColumn="firstName">Имя <p-sortIcon field="firstName"></p-sortIcon></th>
    <th pSortableColumn="lastName">Фамилия <p-sortIcon field="lastName"></p-sortIcon></th>
    <th pSortableColumn="patronymic">Отчество<p-sortIcon field="patronymic"></p-sortIcon></th>
    <th pSortableColumn="email">Электронная почта <p-sortIcon field="email"></p-sortIcon></th>
    <th pSortableColumn="phone">Телефон <p-sortIcon field="phone"></p-sortIcon></th>
    <th> Роль </th>
    <th> Действия </th>
  </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
  <tr class="p-selectable-row">
    <td>
      <span class="p-column-title">Логин</span>
      {{employee.username}}
    </td>
    <td> {{ employee.firstName }} </td>
    <td> {{ employee.lastName }} </td>
    <td> {{ employee.patronymic }} </td>
    <td> {{ employee.email }} </td>
    <td> {{ employee.phone }} </td>
    <td *ngFor="let role of employee.roles">
      {{ role.name}}
    </td>
    <td>
      <!--  <button (click) = "updateEmployee(employee.id)" mat-raised-button color="primary"> Редактировать</button> -->
      <button (click) = "deleteEmployee(employee.id)" mat-raised-button color="warn" style="margin-left: 5px"> Удалить</button>
      <button (click) = "employeeDetails(employee.id)" mat-raised-button color="primary" style="margin-left: 5px"> Подробности</button>
    </td>
  </tr>
    </ng-template>

</p-table>
