<div  *ngIf="!showAdminBoard">
  <meta http-equiv="refresh" content="1; url=http://localhost:4200">
</div>

<table class = "usersTable table table-stripped table-hover" *ngIf="showAdminBoard">
  <thead>
  <tr>
    <th> Имя пользователя</th>
    <th> Имя</th>
    <th> Фамилия </th>
    <th> Отчество</th>
    <th> Электронная почта </th>
    <th> Телефон </th>
    <th> Роль </th>
    <th> Действия </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor = "let employee of employees" >
    <td> {{ employee.username }} </td>
    <td> {{ employee.firstName }} </td>
    <td> {{ employee.lastName }} </td>
    <td> {{ employee.patronymic }} </td>
    <td> {{ employee.email }} </td>
    <td> {{ employee.phone }} </td>
    <td *ngFor="let role of employee.roles">
      {{ role.name}}
    </td>
    <td>
      <!--  <button (click) = "updateEmployee(employee.id)" mat-raised-button color="primary"> Редактировать</button> -->
      <button (click) = "deleteEmployee(employee.id)" mat-raised-button color="warn" style="margin-left: 5px"> Удалить</button>
      <button (click) = "employeeDetails(employee.id)" mat-raised-button color="primary" style="margin-left: 5px"> Подробности</button>
    </td>
  </tr>
  </tbody>
</table>
