<div  *ngIf="!showAdminBoard">
  <meta id="dynamicLink2" http-equiv="refresh" content="">
  <script>
    import {environment} from "../../environments/environment";

    var link = document.getElementById('dynamicLink2');
    link.content = "1; url=" + environment.apiNgUrl
  </script>
</div>
  <p-table #dt [value]="employees" [(selection)]="selectedEmployees" dataKey="id" styleClass="p-datatable-employees" [rowHover]="true"
           [rows]="15" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading"
           [paginator]="true" currentPageReportTemplate="C {first} по {last} из {totalRecords}"
           [filterDelay]="0" [globalFilterFields]="['username','firstName','lastName', 'patronymic', 'email','phone', 'roles']" *ngIf="showAdminBoard">
    <ng-template pTemplate="caption">
      <div class="table-header">
        База данных
        <span>
                        <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Поиск" />
                    </span>

      </div>
    </ng-template>
    <ng-template pTemplate="header">
  <tr>
    <th pSortableColumn="username">Логин <p-sortIcon field="username"></p-sortIcon></th>
    <th pSortableColumn="firstName">Имя </th>
    <th pSortableColumn="lastName">Фамилия </th>
    <th pSortableColumn="patronymic">Отчество</th>
    <th pSortableColumn="email">Электронная почта<p-sortIcon field="email"></p-sortIcon></th>
    <th pSortableColumn="phone">Телефон</th>
    <th>
      <p-dropdown [options]="statuses" (onChange)="dt.filter($event.value, 'role', 'equals')" styleClass="p-column-filter" placeholder="Роль" [showClear]="true">
        <ng-template let-option pTemplate="item">
          <span [class]="'customer-badge status-' + option.value">&#123;&#123;option.label&#125;&#125;</span>
        </ng-template>
      </p-dropdown>
    </th>
    <th> Действия </th>
  </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee >
  <tr class="p-selectable-row">
    <td >
      <span class="p-column-title" >Логин</span>
      {{employee.username}}
    </td>
    <td> {{ employee.firstName }} </td>
    <td> {{ employee.lastName }} </td>
    <td> {{ employee.patronymic }} </td>
    <td> {{ employee.email }} </td>
    <td> {{ employee.phone }} </td>

    <td>{{ employee.role}}</td>
    <td>
      <span><i class="pi pi-trash"(click) = "deleteEmployee(employee.id)" ></i></span>
      <span><i class="pi pi-info-circle" (click) = "employeeDetails(employee.id)" style="margin-left: 15px"></i></span>
    </td>
  </tr>
    </ng-template>

</p-table>
