:host
{
  margin: 20px;
}

body {
  background: rgb(204,204,204);
}
page[size="A4"] {
  background: white;
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
@media print {
  body, page[size="A4"] {
    margin: 0;
    box-shadow: 0;
  }
}

.fileList
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.filePresentationRow
{
  min-width: 250px;
  margin: 10px;
  padding: 10px;
}

.fileName
{
  display: inline-block;
  font-size: 20px;
  margin-right: 20px;
}

#downloadAllButton
{
  width: fit-content;
  height: fit-content;
}

.documentBlock
{
  width: 100%;
  max-height: 75vh + 50px;
}

#docxContainer
{
  height: 75vh;
  width: 100%;
  overflow: auto;
}

#plainTextContainer
{
  padding: 5px;
  overflow: auto;
}