<html>

<head>
  <link href="./doctorinfo.component.css" rel="stylesheet" type="text/css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"-->
  <!--        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">-->
  <!--  <meta charset="UTF-8"/>-->

  <!--  <link rel="stylesheet" media="screen" href="/sps/assets/blitz-common/stylesheets/idp.min.css">-->

  <!--  <link rel="stylesheet" media="screen"-->
  <!--        href="/sps/assets/blitz-common/theme/assets/skin/default_skin/css/theme.min.css">-->
  <meta charset="UTF-8"/>
</head>
<style>


</style>
<header>
</header>

<body>


<div class="col-md-6">
  <h2 class="text-center">Информация о докторе</h2>
  <form [formGroup]="infoDoctorForm">
    <!--    [formGroup]="updatedoctorform"-->

    <!--    <div class="form-group">-->
    <!--      <label for="id">Id:</label>-->
    <!--      <input readonly   placeholder={{user.id}}  class="form-control" id="id" required  [(ngModel)]="doctorInfo.id" [formControlName]="'id'">-->
    <!--&lt;!&ndash;    placeholder={{user.id}}  [(ngModel)]="user.id" [formControlName]="'id'"&ndash;&gt;-->

    <!--    </div>-->
    <!--    [formControlName]="id"-->

    <div class="form-group">
      <label >Имя Фамилия: {{ourusers.firstname+' '+ ourusers.lastname}} </label>
<!--      <input class="form-control" id="NameandLastName" name="education" readonly required-->
<!--             value="{{ourusers.firstname+' '+ ourusers.lastname}}">-->
      <!--      placeholder="{{user.education}}"-->
    </div>

    <div class="form-group">
      <label >Дата трудоустройства: {{ourusers.dateOfEmployment}}</label>
<!--      <input [(ngModel)]="ourusers.dateOfEmployment" [formControlName]="'dateOfEmployment'" class="form-control" id="dateOfEmployment" name="dateOfEmployment"-->
<!--             readonly required>-->
      <!--  placeholder="{{user.dateOfEmployment}}"    [(ngModel)]="user.dateOfEmployment" [formControlName]="'dateOfEmployment'"-->
    </div>

    <div class="form-group">
      <label >Образование: {{ourusers.education}} </label>
<!--      <input class="form-control" id="education" name="education" readonly required value="{{ourusers.education}}">-->
<!--      &lt;!&ndash;      placeholder="{{user.education}}"&ndash;&gt;-->
    </div>

    <div class="form-group">
      <label >Кабинет: {{ourusers.room.num}}</label>
<!--      <input class="form-control" id="room" name="room" readonly required type="number" value="{{ourusers.room.num}}">-->
<!--      &lt;!&ndash;      placeholder="{{user.room.num}}"&ndash;&gt;-->
    </div>

    <div class="form-group">
      <label >Специальность: {{ourusers.specialist[0].specialization}}</label>
<!--      <input class="form-control" id="specialist" name="specialist" readonly required-->
<!--             value="{{ourusers.specialist[0].specialization}}">-->
      <!--      placeholder="{{user.specialist[0].specialization}}"-->
    </div>

    <button (click)="goToBackList()" class="btn btn-primary">Вернуться</button>
    <!--    (click)="onSubmit()"-->
  </form>
</div>

</body>
</html>















