<h3> View Appointment Details </h3>
<div>
  <div>
    <label> <b> Doctor's Last Name: </b>  </label> {{appointmentRegistration.doctor.lastName}}
  </div>
  <div>
    <label> <b> Patient's Last Name: </b>  </label> {{appointmentRegistration.patient.lastName}}
  </div>
  <div>
    <label> <b> Start Date Time: </b>  </label> {{appointmentRegistration.start}}
  </div>
  <div>
    <label> <b> End Date Time: </b>  </label> {{appointmentRegistration.end}}
  </div>
  <div>
    <label> <b> Address: </b>  </label> {{appointmentRegistration.address}}
  </div>
  <div>
    <label> <b> Room: </b>  </label> {{appointmentRegistration.room}}
  </div>
</div>
