<h3> Выберите запись для приема </h3>

<div *ngIf="appointmentRegistrations != null && appointmentRegistrations.length != 0 else NothingFound">

  <table class="table table-striped">
    <thead>
    <tr>
      <th> Адрес</th>
      <th> Пациент</th>
      <th> Дата и время</th>
      <th> Выбор</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let appointmentRegistration of appointmentRegistrations">
      <td> {{appointmentRegistration.address}} </td>
      <td> {{appointmentRegistration.patient.user.lastName}} </td>
      <td> {{datePipe.transform(appointmentRegistration.start, "yyyy/MM/dd HH:mm")}} </td>
      <td>
        <button (click)="SelectAppointmentRegistration(appointmentRegistration.id)" class = "btn btn-primary">
          Начать прием
        </button>
      </td>
    </tr>
    </tbody>
  </table>

</div>

<ng-template #NothingFound>
    Нет предстоящих записей на прием
</ng-template>
