<h1>{{title}}</h1>
<div>
  <mat-progress-bar *ngIf="!contentLoaded" mode="buffer"></mat-progress-bar>

  <div *ngIf="contentLoaded">
    <mat-list>
      <mat-list-item>Пациент: {{medCard.patient.user.lastName}} {{medCard.patient.user.firstName}}</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        Противопоказания: {{medCard.contraindications}}
        <!--    <button (click)="getContr()" mat-icon-button color="warn">Просмотреть</button>-->
        <button *ngIf="roles.includes('ROLE_PATIENT')" (click)="editContr()" mat-icon-button color="primary"><mat-icon>border_color</mat-icon></button>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        Наследственные заболевания: {{medCard.hereditary}}
        <!--    <button (click)="getHereditary()" mat-icon-button color="warn">Просмотреть</button>-->
        <button *ngIf="roles.includes('ROLE_PATIENT')" (click)="editHereditary()" mat-icon-button color="primary"><mat-icon>border_color</mat-icon></button>
      </mat-list-item>
    </mat-list>

    <mat-card>
      <mat-card-title>Мои приемы в клинике</mat-card-title>
      <br>
      <select required [selectedIndex]="0" [(ngModel)]="selectedSpecialization" (ngModelChange)="onServiceChange()">
        <option selected="selected" value="0">Выберите специализацию</option>
        <option *ngFor="let item of specializations">{{item}}</option>
      </select>
      <form (ngSubmit)="descriptionSearch()">
        <div class="form-group">
          <input class="mt-2 p-0" placeholder="Введите описание приема" type="text" [(ngModel)]="description" name="description"/>
        </div>
        <button class="mr-1 btn-primary" type="submit" mat-stroked-button>Найти</button>
        <button *ngIf="description || selectedSpecialization != '0'" class="ml-1 btn-primary" (click)="ngOnInit()" type="submit" mat-stroked-button>Сбросить фильтры</button>
      </form>
      <br>
      <mat-card *ngFor="let appointment of pagedItems">
        <mat-card>
          <mat-card-title *ngFor="let spec of appointment.appointmentRegistration.doctor.specialist">
            {{spec.specialization}} </mat-card-title>
          <mat-card-content>Доктор: {{appointment.appointmentRegistration.doctor.user.lastName}}</mat-card-content>
          <mat-card-content>Описание: {{appointment.description}}</mat-card-content>
          <mat-card-content>Заключение: {{appointment.docStatement}}</mat-card-content>
          <mat-card-actions>
            <button (click)="appointmentDetails(content, appointment.id, appointment)" mat-stroked-button class="btn-primary">Просмотреть прием</button>
          </mat-card-actions>
        </mat-card>
        <br>
      </mat-card>
      <a *ngIf="!(allItems.length && allItems)">Поиск не дал результатов</a>
      <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <button (click)="setPage(1)" mat-icon-button color="primary">Первая</button>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === 1}">
          <button (click)="setPage(pager.currentPage - 1)" mat-icon-button color="primary">Пред</button>
        </li>
        <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
          <button (click)="setPage(page)" mat-icon-button color="primary">{{page}}</button>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <button (click)="setPage(pager.currentPage + 1)" mat-icon-button color="primary">След</button>
        </li>
        <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
          <button (click)="setPage(pager.totalPages)" mat-icon-button color="primary">Последняя</button>
        </li>
      </ul>
    </mat-card>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header bg-primary">
    <h1 class="modal-title" id="modal-title">Детали приема</h1>
    <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <div>
      <div class="card">
        <div class="card-body">
          <div>
            <label> <b> Фамилия доктора: </b>  </label> {{appointment.appointmentRegistration.doctor.user.lastName}} {{appointment.appointmentRegistration.doctor.user.firstName}} {{appointment.appointmentRegistration.doctor.user.patronymic}}
          </div>
          <div>
            <label> <b> Фамилия пациента: </b>  </label> {{appointment.appointmentRegistration.patient.user.lastName}} {{appointment.appointmentRegistration.patient.user.firstName}} {{appointment.appointmentRegistration.patient.user.patronymic}}
          </div>
          <div>
            <label> <b> Дата и время начала приема: </b>  </label> {{datePipe.transform(appointment.appointmentRegistration.start, "yyyy/MM/dd HH:mm")}}
          </div>
          <div>
            <label> <b> Образование доктора: </b>  </label> {{appointment.appointmentRegistration.doctor.education}}
          </div>
          <div>
            <label> <b> Кабинет: </b>  </label> {{appointment.appointmentRegistration.room}}
          </div>
        </div>
      </div>
      <div>
        <br>
      </div>
      <div class="card">
        <div class="card-body">
          <div>
            <div class="card">
              <div class="card-header" style="vertical-align: bottom">
                <h4> <b> Описание: </b>  </h4>
              </div>
              <div class="card-body">
                <span style="white-space: pre">{{appointment.description}}</span>
              </div>
            </div>
          </div>
          <br>
          <div>
            <div class="card">
              <div class="card-header">
                <h4> <b> Заключение врача: </b>  </h4>
              </div>
              <div class="card-body">
                <span style="white-space: pre">{{appointment.docStatement}}</span>
              </div>
            </div>
          </div>
          <br>
          <div>
            <div class="card">
              <div class="card-header">
                <h4> <b> Рецепт: </b>  </h4>
              </div>
              <div class="card-body">
                <span style="white-space: pre">{{appointment.recipe}}</span>
              </div>
            </div>
          </div>
          <br>
          <div>
            <div class="card">
              <div class="card-header">
                <h4> <b> План реабилитации: </b>  </h4>
              </div>
              <div class="card-body">
                <span style="white-space: pre">{{appointment.rehabPlan}}</span>
              </div>
            </div>
          </div>
          <br>
          <div>
            <div class="card">
              <div class="card-header">
                <h4> <b> План лечения: </b>  </h4>
              </div>
              <div class="card-body">
                <p><span style="white-space: pre">{{appointment.treatPlan}}</span></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <br>
      </div>
      <div class="card">
        <div class="card-body">
          <div class="btn-toolbar" role="toolbar">
            <!--            <div class="btn-group mr-2" role="group" aria-label="First group">-->
            <!--              <button (click)="goToFileViewer(fileViewer, appointment.id)" mat-raised-button color="primary" class="MyButton"> Просмотреть файлы </button>-->
            <!--            </div>-->
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <button (click)="goToFileViewer1(appointment.id)" mat-raised-button color="primary" class="MyButton"> Просмотреть файлы </button>
            </div>
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <button (click)="printRecipe(loading, appointment.id)" mat-raised-button color="primary" class="MyButton"> Напечатать рецепт </button>
            </div>
          </div>
        </div>
      </div>
      <div>
        <br>
      </div>
    </div>


  </div>
  <!--  <div class="modal-footer">-->
  <!--    <button type="button" class="btn btn-outline-secondary" (click)="modal.dismiss('cancel click')">Закрыть</button>-->
  <!--&lt;!&ndash;    <button type="button" ngbAutofocus class="btn btn-danger" (click)="deleteAppointmentRegistration(arToDelete)">OK</button>&ndash;&gt;-->
  <!--  </div>-->
</ng-template>

<ng-template #loading let-modal>
  <div *ngIf = "!activateLoadingModal">

    <div class="modal-header bg-primary">
      <h2 class="modal-title">Пожалуйста, подождите</h2>
      <!--      <button type="button" class="btn-close" aria-label="Close button" aria-describedby="modal-title" (click)="modal.dismiss('Cross click')"></button>-->
    </div>

    <div class="modal-body">
      <div>
        <div class="card">
          <div class="card-body">
            <strong>Идет загрузка...</strong>
            <br>
            <br>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          </div>
        </div>
        <br>
        <button type="button" class="btn btn-outline-success" (click)="modal.dismiss('cancel click')">Готово</button>
      </div>
    </div>

    <!--    <div class="modal-footer">-->
    <!--      <button type="button" class="btn btn-outline-success" (click)="modal.dismiss('cancel click')">Готово</button>-->
    <!--    </div>-->

  </div>
</ng-template>
