<h1>{{title}}</h1>

<div>
  <div>Patient: {{medCard.patient.lastName}}</div>
  <div>
    Противопоказания: {{medCard.contraindications}}
    <button (click)="getContr()" mat-icon-button color="warn"><mat-icon>remove_red_eye</mat-icon></button>
    <button (click)="editContr()" mat-icon-button color="primary"><mat-icon>border_color</mat-icon></button>
  </div>
  <div>
    Наследственное: {{medCard.hereditary}}
    <button (click)="getHereditary()" mat-icon-button color="warn"><mat-icon>remove_red_eye</mat-icon></button>
    <button (click)="editHereditary()" mat-icon-button color="primary"><mat-icon>border_color</mat-icon></button>
  </div>
  <div>
    <ul *ngFor="let appointment of medCard.appointments">
      <li>{{appointment.description}}</li>
      <li>{{appointment.service}}</li>
      <li>{{appointment.recipe}}</li>
      <li>{{appointment.treatPlan}}</li>
      <li>{{appointment.rehabPlan}}</li>
      <li>{{appointment.docStatement}}</li>
    </ul>
  </div>
</div>
