<h1>Список прошедших приемов</h1>
<table class = "table table-striped">
  <thead>
    <tr>
<!--      <th> Id </th>-->
      <th> Описание </th>
<!--      <th> Доктор </th>-->
      <th> Пациент </th>
      <th> Дата и время </th>
      <th> Действия </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let appointment of appointments">
<!--      <td> {{appointment.id}} </td>-->
      <td> {{appointment.description}} </td>
<!--      <td> {{appointment.appointmentRegistration.doctor.lastName}} </td>-->
      <td> {{appointment.appointmentRegistration.patient.user.lastName}} </td>
<!--      <td> {{appointment.appointmentRegistration.start}} </td>-->
      <td> {{datePipe.transform(appointment.appointmentRegistration.start, "yyyy/MM/dd HH:mm")}} </td>
      <td>
        <button (click)="updateAppointment(appointment.id)" mat-raised-button color="primary"> Изменить </button>
<!--        <button (click)="deleteAppointment(appointment.id)" class="btn btn-danger" style="margin-left: 10px"> Удалить </button>-->
        <button (click)="appointmentDetails(appointment.id)" mat-raised-button color="primary" style="margin-left: 10px"> Детали </button>
      </td>
    </tr>
  </tbody>
</table>
