<h1>Appointment List</h1>
<table class = "table table-striped">
  <thead>
    <tr>
      <th> Id </th>
      <th> Description </th>
      <th> Doctor </th>
      <th> Patient </th>
      <th> Date </th>
      <th> Actions </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor = "let appointment of appointments">
      <td> {{appointment.id}} </td>
      <td> {{appointment.description}} </td>
      <td> {{appointment.appointmentRegistration.doctor.lastName}} </td>
      <td> {{appointment.appointmentRegistration.patient.lastName}} </td>
      <td> {{appointment.appointmentRegistration.start}} </td>
      <td>
        <button (click)="updateAppointment(appointment.id)" class="btn btn-info"> Update </button>
        <button (click)="deleteAppointment(appointment.id)" class="btn btn-danger" style="margin-left: 10px"> Delete </button>
        <button (click)="appointmentDetails(appointment.id)" class="btn btn-info" style="margin-left: 10px"> View </button>
      </td>
    </tr>
  </tbody>
</table>
