<div id="app">
  <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <img src="assets/images/logoSmallSource.png" alt="Italian Trulli">
    <ul class="navbar-nav mr-auto" routerLinkActive="active">
      <li class="nav-item">
        <a href="/home" class="nav-link" routerLink="home">Домашняя страница</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/admin" class="nav-link" routerLink="admin">Панель администратора</a>
      </li>
      <li class="nav-item" *ngIf="showAdminBoard">
        <a href="/create-employee" class="nav-link" routerLink="create-employee">Добавить врача</a>
      </li>
      <li class="nav-item" *ngIf="showModeratorBoard">
        <a href="/mod" class="nav-link" routerLink="mod">Панель врача</a>
      </li>
      <li class="nav-item">
        <a href="/user" class="nav-link" *ngIf="isLoggedIn" routerLink="user">Пользователь</a>
      </li>

      <!-- Выпадающее меню расписания https://ng-bootstrap.github.io/#/components/dropdown/examples -->
      <!-- Для этого нужен ngbootstrap -->
      <!-- Кроме того, выровнял на 1 пиксель вверх, см. css файл по #dropdownScheduleMenu -->
      <!-- Возникнут проблемы - спрашивайте у меня (Олег) -->
      <div class="nav-item dropdown" ngbDropdown #myDrop="ngbDropdown" *ngIf="showModeratorBoard">
        <button class="btn btn-primary nav-link" id="dropdownScheduleMenu" ngbDropdownAnchor (focus)="myDrop.open()">Расписание</button>
        <div ngbDropdownMenu aria-labelledby="dropdownScheduleMenu">
          <button ngbDropdownItem routerLink = "schedule/doctorsTable">Просмотр</button>
          <button ngbDropdownItem routerLink = "schedule/edit">Редактирование</button>
        </div>
      </div>

      <li *ngIf="isLoggedIn && !showModeratorBoard">
        <a class = "nav-link" routerLink = "schedule/doctorsTable">Расписание</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
      <li class="nav-item">
        <a href="/register" class="nav-link" routerLink="register">Регистрация</a>
      </li>
      <li class="nav-item">
        <a href="/login" class="nav-link" routerLink="login">Войти</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li class="nav-item">
        <a href class="nav-link" (click)="logout()">Выйти</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
