<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class = "nav-item">
      <a routerLink="appointments" routerLinkActive="active" class = "nav-link"> Список приемов </a>
    </li>
    <li class = "nav-item">
      <a routerLink="create-appointment" routerLinkActive="active" class = "nav-link"> Новый прием </a>
    </li>

<!--    Эта часть для личного кабинета пациента-->
    <li class = "nav-item">
      <a routerLink="schedule/specifyAppointment" routerLinkActive="active" class = "nav-link"> Новая запись на прием </a>
    </li>
    <li class = "nav-item">
      <a routerLink="appointmentRegistrations" routerLinkActive="active" class = "nav-link"> Список записей на прием </a>
    </li>



<!--    <li class = "nav-item">-->
<!--      <a routerLink="schedule/doctorsTable" routerLinkActive="active" class = "nav-link"> doctorsTable </a>-->
<!--    </li>-->
<!--    <li class = "nav-item">-->
<!--      <a routerLink="schedule/specifyAppointment" routerLinkActive="active" class = "nav-link"> specifyAppointment </a>-->
<!--    </li>-->
<!--    <li class = "nav-item">-->
<!--      <a routerLink="schedule/edit" routerLinkActive="active" class = "nav-link"> Edit </a>-->
<!--    </li>-->
  </ul>
</nav>

<h1 class = "text-center">{{title}}</h1>
<div class="container">
  <router-outlet></router-outlet>
</div>

<!--<footer class="page-footer font-small blue pt-4">-->
<!--  <div class="footer-copyright text-center py-1">© 2021 Copyright:-->
<!--    <a> All Rights Reserved </a>-->
<!--  </div>-->
<!--</footer>-->

<footer class = "footer">
  <div class = "container">
    <span> Все права защищены 2021 </span>
  </div>
</footer>

