<html>
<head>

</head>
<body>
<div style="text-align:center">
  <h1>
    Чат с поддержкой
  </h1>
  <div class="chat-container">
    <div class="chat">
      <div class="message"></div>
    </div>
  </div>
</div>

<!--<div class="footer">-->

  <!--    <div class="row">-->
  <!--      <div class="col-3">-->
  <!--      </div>-->
  <!--      <div class="col-5" >-->
  <!--      </div>-->
  <!--      <div class="col-2">-->
  <!--      </div>-->
  <!--      <div class="col-2">-->
  <!--      </div>-->
  <!--    </div>-->

  <div class="send-button">
    <div class="send" (click)="sendMessage(input.value)">
    </div>
    <input id="input" type="text" #input>
  </div>

<!--</div>-->

</body>

