<div  *ngIf="!showAdminBoard">
  <meta http-equiv="refresh" content="1; url=http://localhost:4200">
</div>

<div class="col-md-6 offset-md-3" *ngIf="showAdminBoard">
  <h3> Создать нового пользователя </h3>
  <form (ngSubmit) = "onSubmit()">
    <div class="form-group">
      <label> Имя пользователя</label>
      <input type="text" class ="form-control" id = "username"
             [(ngModel)] = "employee.username" name = "username">
    </div>

    <div class="form-group">
      <label> Пароль</label>
      <input type="text" class ="form-control" id = "password"
             [(ngModel)] = "employee.password" name = "password">
    </div>
    <div class="form-group">
      <label> Имя</label>
      <input type="text" class ="form-control" id = "firstName"
             [(ngModel)] = "employee.firstName" name = "firstName">
    </div>

    <div class="form-group">
      <label> Фамилия</label>
      <input type="text" class ="form-control" id = "lastName"
             [(ngModel)] = "employee.lastName" name = "lastName">
    </div>

    <div class="form-group">
      <label>Отчество</label>
      <input type="text" class ="form-control" id = "patronymic"
             [(ngModel)] = "employee.patronymic" name = "patronymic">
    </div>
    <div class="form-group">
      <label>Эдектронная почта</label>
      <input type="text" class ="form-control" id = "email"
             [(ngModel)] = "employee.email" name = "email">
    </div>
    <div class="form-group">
      <label>Телефон</label>
      <input type="text" class ="form-control" id = "phone"
             [(ngModel)] = "employee.phone" name = "phone">
    </div>
    <div class="form-group" *ngFor="let role of employee.roles">
      <label>Роль</label>
      <input type="text" class ="form-control" id = "role.name"
             [(ngModel)] = "role.id" name = "role.name">
    </div>

    <button mat-raised-button color="primary">Создать</button>

  </form>
</div>
