<form [formGroup] = "datePickerGroup" class = "datePickerFilterField">
  <!-- Calendar range picker -->
  <mat-form-field appearance = "fill">
    <mat-label>Выберите даты</mat-label>
    <mat-date-range-input [rangePicker] = "picker" [min] = "minDate" [max] = "maxDate" formGroupName = "daterange">
      <input matStartDate placeholder = "От" formControlName = "start">
      <input matEndDate placeholder = "До" formControlName = "end">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
</form>
