<ng-template #content let-modal>
  <div class="modal-header bg-primary">
    <h2 class="modal-title">Новая запись на прием</h2>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">

    <div *ngIf="!isInitiated">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>

    <div *ngIf="isInitiated">

      <div class="card">
        <div class="card-body">

          <form (ngSubmit)="onSubmit()">

            <div class="form-group">
              <label> <b> Доктор: </b> </label> {{appointmentRegistration.doctor.user.lastName}} {{appointmentRegistration.doctor.user.firstName}} {{appointmentRegistration.doctor.user.patronymic}}
            </div>

            <div class="form-group">
              <label> <b> Пациент: </b> </label> {{appointmentRegistration.patient.user.lastName}}  {{appointmentRegistration.patient.user.firstName}} {{appointmentRegistration.patient.user.patronymic}}
            </div>

            <div class="form-group">
              <label> <b> Дата и время начала приема: </b> </label> {{dateTime}}
            </div>

            <div class="form-group">
              <label> <b> Кабинет: </b> </label> {{appointmentRegistration.doctor.room.num}}
            </div>
            <!--    <div class = "form-group">-->
            <!--      <label> Услуга:    </label>-->
            <!--      <div>-->

            <!--      </div>-->

            <!--      <input size="39" type = "text"-->
            <!--             [formControl] = "serviceFormControl.ServiceFormControl"-->
            <!--             [matAutocomplete] = "auto">-->

            <!--      <mat-autocomplete [panelWidth]="300" autoActiveFirstOption #auto="matAutocomplete" class = "autocompleteDoctorFilterField">-->
            <!--        &lt;!&ndash; TODO - introduce categories of doctors by their profession &ndash;&gt;-->
            <!--        <mat-option *ngFor="let service of serviceFormControl.ServiceFiltered.value" [value] = "service.toString()">-->
            <!--          {{ service.toString() }}-->
            <!--        </mat-option>-->
            <!--      </mat-autocomplete>-->

            <!--    </div>-->
            <button class="SubmitButton" mat-stroked-button> Подтвердить запись</button>

          </form>

        </div>
      </div>

    </div>
  </div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Закрыть</button>
</div>
</ng-template>

<div class = "appointmentBlocks mat-elevation-z4">
    <div *ngFor="let doctorScheduleAppointmentsDataDaily of doctorScheduleDailyAppointmentsArray">
        <div class="appointmentDailyDiv mat-elevation-z4">
            <h1 class = "appointmentBlockDate">
                {{ utilsService.getDateStrRuLocale(doctorScheduleAppointmentsDataDaily.getDate()) }}
            </h1>

            <div class = "appointmentBlockButtons">
                <button *ngFor="let doctorDailyAppointment of doctorScheduleAppointmentsDataDaily.getIntervalCollection()" mat-stroked-button color="primary" class = "appointmentBlockButton"
                        (click)="selectDateTime(content, doctorDailyAppointment.getIntervalStartTime())">
                    {{ doctorDailyAppointment.getIntervalStartTime().toISOString().substr(11, 5) }}
                </button>
            </div>

            <h1 class = "appointmentBlockDoctorName">
                {{ doctorScheduleAppointmentsDataDaily.getDoctorName() }}
            </h1>

            <h3 class = "appointmentBlockDoctorSpecialization">
                {{ doctorScheduleAppointmentsDataDaily.getSpecializationName() }}
            </h3>
        </div>
    </div>
</div>
