.blockContents
{
    margin: 10px 0px;
}

.patternUsageBlock
{
    margin: 0px 5px;
    padding: 5px 15px;
}

.dropdownInputField
{
    margin: 15px 0px -10px;
}

.flexSpaceBetween
{
    display: flex;
    justify-content: space-between;
}

#deleteButton,
#changeButton
{
    height: fit-content;
    width: fit-content;
    margin: 25px 30px 0px;
}

.scheduleApplyRepeatCnt
{
    margin: 10px 5px;
}

.tableDiv
{
    display: block;
    max-width: 100%;
}

.scheduleTable
{
    margin: 5px 0px 5px;
    max-height: 80vw;
    max-width: 100%;
    overflow: auto;
}

.dynamicAmountColumnHeader
{
    text-align: center;
    border: lightgray 1px solid;
}

.timeInterval
{
    width: 120px;
    margin-top: 13px;
}

.dynamicAmountColumnContents
{
    text-align: center;
    border: lightgray 1px solid;
}

.timeField
{
    width: 45px;
}