<div class="container">
  <div class="main-body">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex flex-column align-items-center text-center">
              <img
                id="profile-img"
                src="//ssl.gstatic.com/accounts/ui/avatar_2x.png"
                class="profile-img-card"
              />
              <div class="mt-3">
                <h4>{{employee.firstName}} {{employee.lastName}} {{employee.patronymic}}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card">
          <div class="card-body">
            <div class="row mb-3">
              <div class="col-sm-3">
                <h2 class="mb-0">Логин</h2>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="{{employee.username}}" readonly>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h2 class="mb-0">ФИО</h2>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="{{employee.firstName}} {{employee.lastName}} {{employee.patronymic}}" readonly>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h2 class="mb-0">Эл. Почта</h2>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="{{employee.email}}" readonly>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h2 class="mb-0">Телефон</h2>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="{{employee.phone}}" readonly>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h2 class="mb-0">Паспорт</h2>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="{{employee.patient.passport}}" readonly>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <h2 class="mb-0">Полис</h2>
              </div>
              <div class="col-sm-9 text-secondary">
                <input type="text" class="form-control" value="{{employee.patient.polys}}" readonly>
              </div>
            </div>
            <div class="row mb-3">
              <div class="col-sm-3">
                <button class = "btn btn-primary btn-block" (click) = "updateProfile(employee.id)" type ="submit">Редактировать</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
