<!--<mat-form-field appearance="fill">
    <mat-label>Выбор врачей</mat-label>
    <mat-select [formControl]="multiPicker" multiple>
        <mat-select-trigger>
            {{multiPicker.value ? multiPicker.value[0] : ''}}
            <span *ngIf="multiPicker.value?.length > 1" class="example-additional-selection">
                (+{{multiPicker.value.length - 1}} {{multiPicker.value?.length === 2 ? 'other' : 'others'}})
            </span>
        </mat-select-trigger>

        <mat-optgroup *ngFor="let specializationGroup of doctorShortInfoGroups" [label]="specializationGroup.name">
            <mat-option *ngFor="let doctorShortInfo of specializationGroup.specializationName" [value]="doctorShortInfo.id">
                {{doctorShortInfo.doctorName}}
            </mat-option>
        </mat-optgroup>
    </mat-select>
  </mat-form-field>-->