<div class="col-md-8 offset-md-2" xmlns:filter="http://www.w3.org/1999/xhtml">
  <h3> Новая запись на прием </h3>
  <form (ngSubmit)="onSubmit()" >

    <div class = "form-group">
      <label> <b> Фамилия доктора:    </b>  </label> {{appointmentRegistration.doctor.user.lastName}}
    </div>

    <div class = "form-group">
      <label> Дата и время начала приема:    </label> {{dateTime}}
    </div>

    <div class = "form-group">
      <label> Кабинет:    </label> {{appointmentRegistration.doctor.room.num}}
    </div>

    <div class = "form-group">
      <label> Фамилия пациента:    </label> {{appointmentRegistration.patient.user.lastName}}
    </div>

    <div class = "form-group">
      <label> Услуга:    </label>
      <div>

      </div>

      <input size="39" type = "text"
             [formControl] = "serviceFormControl.ServiceFormControl"
             [matAutocomplete] = "auto">

      <mat-autocomplete [panelWidth]="300" autoActiveFirstOption #auto="matAutocomplete" class = "autocompleteDoctorFilterField">
        <!-- TODO - introduce categories of doctors by their profession -->
        <mat-option *ngFor="let service of serviceFormControl.ServiceFiltered.value" [value] = "service.toString()">
          {{ service.toString() }}
        </mat-option>
      </mat-autocomplete>

    </div>

    <button mat-raised-button color="primary"> Подтвердить запись </button>

  </form>
</div>

