<html>
<!--Взята с доктор мустачи-->
<head>
  <link rel="stylesheet" href="ourdoctorsdetails.component.css" type="text/css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">

  <meta charset="UTF-8"/>


  <!--  <script src=" src/app/doctor.spec.ts"></script>-->
</head>

<header>

</header>

<body>

<div class="col-md-6" >
<!--  [formGroup]="" (ngSubmit)="addRating()"-->
  <h2 class="text-center">Добавление отзыва доктору</h2>
  <form  [formGroup]="updateRatingForm"  (ngSubmit)="onSubmit()" >


    <div class="form-group">
      <label >Врач: </label>
      <input    class="form-control"  type="number" readonly [(ngModel)]="doctorRating.doctorId" [formControlName]="'doctorId'" >

<!--      placeholder={{name}}-->

    </div>


    <div class="form-group">
      <label for="rating">Количество звезд</label>
      <input  placeholder="5"  class="form-control" id="rating" type="number" [(ngModel)]="doctorRating.rating" [formControlName]="'rating'" >
    </div>

    <div class="form-group">
      <label for="feedback">Отзыв:</label>
      <input placeholder="Напишите свои впечатления " name="feedback" class="form-control" id="feedback" [(ngModel)]="doctorRating.feedback" [formControlName]="'feedback'">
    </div>

    <!--    createUser()-->
    <button class="btn btn-primary" >Добавить</button>
  </form>
</div>






</body>
</html>

















